.error404 #gates-page-box {
background-color: transparent !important;
}
.paspartu-enabled .paspartu-top,
.paspartu-enabled .paspartu-left,
.paspartu-enabled .paspartu-right,
.paspartu-enabled .paspartu-bottom {
background-color: #ffffff !important;
}
#gates-head.top-navigation a.imageLogo {
padding-top: 40px;
margin-bottom: 10px;
}
.gates-sticky-navigation-wrapper #gates-head.top-navigation a.imageLogo {
padding-top: 30px;
}
.aside-logo {
width: px !important;
height: px !important;
}
body,
article > .content {
font-size: 13.5px;
color: #555555;
}
h1 {
font-size: 36px;
color: #32373c;
}
h2 {
font-size: 30px;
color: #32373c;
}
h3 {
font-size: 24px;
color: #32373c;
}
h4 {
font-size: 18px;
color: #32373c;
}
h5 {
font-size: 14px;
color: #32373c;
}
h6 {
font-size: 12px;
color: #32373c;
}
#gates-top-bar {
background: #32373C;
}
.top-bar-adress,
.top-bar-phone,
.top-bar-email {
color: #ffffff;
}
.top-bar-email a {
color: #fefefe;
}
.top-bar-email a:hover {
color: #ffffff;
}
.gates_usermenu_button i {
color: #FFFFFF;
}
#gates-top-bar .gates_language_switcher_button i,
#gates-top-bar .gates_shopping_cart_btn i {
color: #FFFFFF !important;
}
#gates-top-bar .social-bar a:before {
color: #FFFFFF;
}
#gates-top-bar a:before {
color: #FFFFFF;
}
#gates-navigation-wrapper {
background-color: transparent;
}
.gates-sticky-navigation-wrapper,
.page-template-template-contact-php #gates-head-wrap.semi-transparent {
background-color: #ffffff !important;
}
#gates-navigation-wrapper .sf-menu li.root a,
.gates-button-area a,
.gates-header-search,
.gates_shopping_cart .gates_shopping_cart_btn i,
.top_menu_lang_switcher .top_menu_lang_switcher_btn i,
.gates-overlay-menu-toggle {
color: #32373c;
}
.gates-button-area a:hover {
color: #32373c !important;
}
#gates-navigation-wrapper .sf-menu li.root a:hover,
#gates-navigation-wrapper .sf-menu li.root.current-menu-item > a,
a.gates-overlay-menu-toggle:hover {
color: #E6BE1E !important;
border-color: #E6BE1E !important;
}
#gates-navigation-wrapper .sf-menu li.current-menu-parent ul li.current-menu-item a {
color: #E6BE1E !important;
}
#gates-navigation-wrapper.skewed .sf-menu li.current-menu-parent ul li.current-menu-item a {
color: #E6BE1E !important;
}
#gates-navigation-wrapper .sf-menu li.current-menu-parent  a {
color: #E6BE1E;
border-color: #E6BE1E;
}
#gates-navigation-wrapper.buttons-menu .sf-menu li.root a:hover,
#gates-navigation-wrapper.buttons-menu .sf-menu li.root.current-menu-item a,
#gates-navigation-wrapper.buttons-menu .sf-menu li.current-menu-parent  a {
background-color: #E6BE1E;
}
#gates-navigation-wrapper.buttons-menu .sf-menu li.current-menu-parent ul li.current-menu-item a {
color: #E6BE1E !important;
background: transparent !important;
}
#gates-navigation-wrapper.skewed .sf-menu li.root a,
.skewed-second-row .social-bar a:before,
.skewed-second-row .gates-button-area a i,
.skewed-second-row .gates-button-area a:hover i {
color: #ffffff;
}
#gates-navigation-wrapper.skewed .sf-menu li.root a:hover,
#gates-navigation-wrapper.skewed .sf-menu li.current-menu-item a,
.skewed-second-row .social-bar a:hover:before {
color: #E6BE1E !important;
}
#gates-navigation-wrapper.skewed .sf-menu li.current-menu-parent  a {
color: #E6BE1E;
}
.skewed-menu-top {
background-color: #E6BE1E;
}
.skewed-top-contact li .icon i {
color: #E6BE1E;
border-color: #E6BE1E;
}
.skewed-menu-top {
color: #ffffff;
}
.skewed-triangle-2:after {
border-right-color: #32373c;
}
.skewed #main-menu,
.skewed #main-menu:before {
background-color: #32373c;
}
#secondary--menu li a,
#secondary--menu li:before {
color: #969ba0;
}
#secondary--menu li a:hover {
color: #E6BE1E !important;
}
.header-overlapping #gates-navigation-wrapper {
background-color: rgba(255,255,255,0.3);
}
.overlapping-dark #gates-navigation-wrapper .sf-menu li.root a,
.overlapping-dark .gates-button-area a,
.overlapping-dark .gates-header-search,
.overlapping-dark .gates_shopping_cart .gates_shopping_cart_btn i,
.overlapping-dark .top_menu_lang_switcher .top_menu_lang_switcher_btn i,
.overlapping-dark .gates-overlay-menu-toggle,
.overlapping-dark .gates-overlay-menu-toggle:hover {
color: #32373c;
}
.overlapping-dark #gates-navigation-wrapper .sf-menu li.root a:hover,
.overlapping-dark #gates-navigation-wrapper .sf-menu li.root.current-menu-item > a,
.gates-overlay-menu-toggle:hover {
color: #E6BE1E;
}
.overlapping-light #gates-navigation-wrapper .sf-menu li.root a {
color: #ffffff;
}
.overlapping-light .gates-button-area a,
.overlapping-light .gates-header-search,
.overlapping-light .gates-header-search:hover,
.overlapping-light .gates_shopping_cart .gates_shopping_cart_btn i,
.overlapping-light .top_menu_lang_switcher .top_menu_lang_switcher_btn i,
.overlapping-light .gates-overlay-menu-toggle,
.overlapping-light .gates-overlay-menu-toggle:hover {
color: #ffffff !important;
}
.overlapping-light .gates-sticky-navigation-wrapper .gates-button-area a,
.overlapping-light .gates-sticky-navigation-wrapper .gates-header-search,
.overlapping-light .gates-sticky-navigation-wrapper .gates-header-search:hover,
.overlapping-light .gates-sticky-navigation-wrapper .gates_shopping_cart .gates_shopping_cart_btn i,
.overlapping-light .gates-sticky-navigation-wrapper .top_menu_lang_switcher .top_menu_lang_switcher_btn i,
.overlapping-light .gates-sticky-navigation-wrapper .gates-overlay-menu-toggle,
.overlapping-light .gates-overlay-menu-toggle:hover {
color: #32373c !important;
}
.overlapping-light #gates-navigation-wrapper .sf-menu li.root a:hover,
.overlapping-light #gates-navigation-wrapper .sf-menu li.root.current-menu-item > a,
.gates-overlay-menu-toggle:hover {
color: #E6BE1E;
}
.gates-overlay-menu {
background: rgba(255,255,255,0.9);
}
.overlay-menu li a {
color: #ffffff;
}
.overlay-menu li a:hover {
color: #E6BE1E;
}
#gates-navigation-wrapper.gates-sticky-navigation-wrapper .sf-menu li.root a,
.gates-sticky-navigation-wrapper .gates-header-search,
.gates-sticky-navigation-wrapper .gates-button-area a,
.gates-sticky-navigation-wrapper .gates_shopping_cart_btn i,
.overlapping-light .gates-sticky-navigation-wrapper .gates_shopping_cart_btn i,
.overlapping-dark .gates-sticky-navigation-wrapper .gates_shopping_cart_btn i,
#gates-navigation-wrapper.gates-sticky-navigation-wrapper .gates-overlay-menu-toggle {
color: #32373c;
}
#gates-navigation-wrapper.gates-sticky-navigation-wrapper .sf-menu li.root a:hover,
#gates-navigation-wrapper.gates-sticky-navigation-wrapper .sf-menu li.root.current-menu-item a {
color: #E6BE1E;
}
.sf-menu ul li,
.sf-menu ul,
.sf-menu ul ul li,
.sf-menu ul ul,
.sf-menu ul ul ul li,
.sf-menu ul ul ul,
.sf-menu > li.megamenu-full > ul {
background-color: #32373c;
}
.sf-menu ul li a,
.sf-menu ul ul li a,
.sf-menu ul ul ul li a,
#gates-navigation-wrapper.buttons-menu .sf-menu ul li a,
#gates-navigation-wrapper.buttons-menu .sf-menu ul ul li a,
#gates-navigation-wrapper.buttons-menu .sf-menu ul ul ul li a {
color: #DCDCDC !important;
}
.sf-menu ul li a:hover,
.sf-menu ul ul li a:hover,
.sf-menu ul ul ul li a:hover,
#gates-navigation-wrapper.buttons-menu .sf-menu ul li a:hover,
#gates-navigation-wrapper.buttons-menu .sf-menu ul ul li a:hover,
#gates-navigation-wrapper.buttons-menu .sf-menu ul ul ul li a:hover {
color: #E6BE1E !important;
background-color: rgba(255,255,255,0.1) !important;
}
.sf-menu ul li a.column-header:hover,
.sf-menu ul ul li a.column-header:hover,
.sf-menu ul ul ul li a.column-header:hover {
color: #DCDCDC !important;
}
.headline.big-centered h3:after,
.gates_shopping_cart .gates_shopping_cart_btn span {
background-color: #E6BE1E;
}
.gates-subheader-wraper {
background-color: #E6BE1E;
}
.gates-subheader .main-title,
.gates-subheader .sub-title,
.gates-breadcrumbs a,
.gates-subheader .gates-breadcrumbs span {
color: #ffffff;
}
.gates-page-wrap {
color: #555555;
}
.gates-page-wrap .gates-nsp-text {
color: #555555;
}
.gates-page-wrap a:hover {
color: #000000;
}
a {
color: #E6BE1E;
}
a:hover {
color: #000000;
}
#gates-dynamic-sidebar {
background-color: #32373C;
color: n;
}
#gates-dynamic-sidebar {
font-size: 99% !important;
color: #ffffff;
}
#gates-dynamic-sidebar h1,
#gates-dynamic-sidebar h3,
#gates-dynamic-sidebar h4,
#gates-dynamic-sidebar h5,
#gates-dynamic-sidebar li {
font-size: 99% !important;
}
#gates-dynamic-sidebar h2 {
font-size: 99% !important;
color: #ffffff;
}
#gates-dynamic-sidebar .box-title {
color: #ffffff;
}
#gates-dynamic-sidebar .box a:active,
#gates-dynamic-sidebar .box a:focus,
#gates-dynamic-sidebar .box a:hover {
color: #ffffff !important;
}
#gates-dynamic-sidebar .box a {
color: #8d8d8d;
}
#gates-dynamic-sidebar .gates-recent-post-widget a,
#gates-dynamic-sidebar.widget_dp_comments a {
color: #cccccc !important;
}
#gates-footer-wrap {
background-color: #32373C;
}
#gates-footer {
color: #cccccc;
}
#gates-footer h2 {
color: #ffffff;
}
#gates-footer .box-title {
color: #ffffff;
}
#gates-footer .box a:active,
#gates-footer .box a:focus,
#gates-footer .box a:hover {
color: #E6BE1E !important;
}
#gates-footer .box a {
color: #ffffff;
}
#gates-footer .gates-recent-post-widget a,
#gates-footer.widget_dp_comments a,
#gates-footer2 .gates-page-wrap .widget_dp_comments a {
color: #ffffff !important;
}
#footer-menu li a {
color: #cccccc;
}
#footer-menu li a:hover {
color: #E6BE1E !important;
}
#gates-copyright-wrap {
background-color: #282D32;
}
#gates-copyright {
color: #969ba0;
}
#gates-copyright a {
color: #969ba0;
}
#gates-copyright a:active,
#gates-copyright a:focus,
#gates-copyright a:hover {
color: #E6BE1E;
}
#gates-copyright-wrap {
border-top-color: transparent;
}
#gates-copyright .social-bar a:before {
color: #969ba0 !important;
}
#gates-copyright .social-bar a:hover {
background-color: #E6BE1E !important;
}
button,
a.gates-button,
input[type=button],
input[type=submit],
.woocommerce-page .button {
background-color: #E6BE1E;
}
.pagination a:hover,
.pagination .current {
background: #E6BE1E;
border: 1px solid #E6BE1E;
}
#back-to-top:hover {
background-color: #E6BE1E;
}
.comment-reply-link:hover,
.blog-item-wrap h2 a:hover,
.portfolio-tabs li.active a,
.blog-tabs li.active a {
color: #E6BE1E !important;
}
#respond input[type=submit] {
background-color: #E6BE1E;
}
div.meta a:hover {
color: #E6BE1E !important;
}
article header h1 sup,
article.sticky header h1 sup,
article header h2 sup,
article.sticky header h2 sup {
background: #E6BE1E;
}
.summary.link:hover,
.summary.quote:hover,
.summary.status:hover {
background: #E6BE1E;
border-color: #E6BE1E;
}
.gates-aside-menu-toggle {
position: absolute;
top: 12px;
left: 12px;
font-size: 18px;
color: #E6BE1E !important;
}
.gates-overlay-menu .gates-overlay-menu-close:hover {
color: #E6BE1E;
}
.accent-color-1 {
color: #E6BE1E;
}
.accent-bg-1 {
background-color: #E6BE1E;
}
.accent-border-1 {
border-color: #E6BE1E;
}
.accent-underline {
border-bottom: 1px solid #E6BE1E;
}
#gates-sidebar ul.menu li a:hover {
color: #E6BE1E !important;
}
.item-description a:hover h5 {
color: #E6BE1E;
}
ul.item-nav li.prev a:hover,
ul.item-nav li.next a:hover,
ul.item-nav li.all a:hover {
border-color: #E6BE1E;
background-color: #E6BE1E;
}
.spin {
border-right: 3px solid #E6BE1E !important;
border-bottom: 3px solid #E6BE1E !important;
border-top: 3px solid #E6BE1E !important;
}
.blog-grid .meta a:hover {
color: #E6BE1E !important;
}
.readon {
background-color: #E6BE1E;
border-color: #E6BE1E;
}
.blog-grid .gates-readon:hover span {
color: #E6BE1E !important;
}
.box #wp-calendar #today {
background: #E6BE1E;
}
.box #wp-calendar td#prev a,
.box #wp-calendar td#next a {
color: #E6BE1E;
}
#searchform #searchsubmit:hover {
background-color: #E6BE1E;
}
.widget_categories ul li span {
background: #E6BE1E;
}
.tagcloud a:active,
.tagcloud a:focus,
.tagcloud a:hover {
background-color: #E6BE1E;
border: 1px solid #E6BE1E;
}
.box ul li a:hover {
color: #E6BE1E;
}
.box.dark a:active,
.box.dark a:focus,
.box.dark a:hover {
color: #E6BE1E;
}
.box.accented-bg,
.accented-bg {
background-color: #E6BE1E !important;
}
.box.menu li:hover {
background-color: #E6BE1E;
}
.box.accented-title .box-title,
.accented {
color: #E6BE1E;
}
.wpcf7 input[type=submit] {
background-color: #E6BE1E;
}
.lang_code {
background: #E6BE1E;
}
.top_menu_lang_switcher .top_menu_lang_switcher_btn span {
background-color: #E6BE1E;
}
.newsline a:hover {
color: #E6BE1E;
}
.dark .newsline a:hover {
color: #E6BE1E;
}
.list.color li:before,
.list-1.color li:before,
.list-2.color li:before,
.list-3.color li:before,
.list-4.color li:before {
color: #E6BE1E;
}
span.dropcap {
color: #E6BE1E;
}
.highlight.color {
background: #E6BE1E;
}
blockquote.bordered {
border-left: 3px solid #E6BE1E;
}
div.dp_legend3 h4 {
background: #E6BE1E;
}
.dp_icon.accented {
background-color: #E6BE1E;
}
.divider_line_accented {
border-bottom: 1px solid #E6BE1E;
}
.button_dp {
background-color: #E6BE1E;
border-color: #E6BE1E;
}
.button_dp:hover span {
color: #E6BE1E;
}
.button_dp.color {
background-color: #E6BE1E;
border-color: #E6BE1E;
}
.button_dp.dark:hover {
background-color: #E6BE1E;
border-color: #E6BE1E;
}
.button_dp.dark:hover span {
color: #fff;
}
.button_dp.light:hover {
background-color: #E6BE1E;
border-color: #E6BE1E;
}
.button_dp.line {
border-color: #E6BE1E !important;
}
.button_dp.line span,
.button_dp.white span {
color: #E6BE1E;
}
.button_dp.line:hover {
background-color: #E6BE1E;
}
.button_dp.line-dark:hover {
background-color: #E6BE1E;
border-color: #E6BE1E;
}
.button {
background: #E6BE1E;
}
.premium .plan-top,
.plan.premium,
.plan.premium .plan-features {
background-color: #E6BE1E;
}
.plan-price {
color: #E6BE1E;
}
.vtabs li.current {
background-color: #E6BE1E;
}
.team-box-animated .back {
background: #E6BE1E;
}
.tipsy-inner {
background-color: #E6BE1E;
}
.tipsy-arrow-n {
border-bottom-color: #E6BE1E;
}
.tipsy-arrow-s {
border-top-color: #E6BE1E;
}
.tipsy-arrow-e {
border-left-color: #E6BE1E;
}
.tipsy-arrow-w {
border-right-color: #E6BE1E;
}
.jp-play-bar {
background: #E6BE1E;
}
.jp-volume-bar-value {
background: #E6BE1E;
}
.easyPieChart2 {
background-color: #E6BE1E;
}
.skill-bar span {
background-color: #E6BE1E;
}
.headline.big-centered h3:after {
background-color: #E6BE1E;
}
.blog-item-wrap .post-content h2 a:hover {
color: #E6BE1E !important;
}
.post-teaser .text-block h1 a:hover {
color: #E6BE1E !important;
}
.post-teaser div.meta a:hover {
color: #E6BE1E !important;
}
.number-box .number-container {
color: #E6BE1E;
-webkit-box-shadow: 0 0 0 1px #E6BE1E;
-moz-box-shadow: 0 0 0 1px #E6BE1E;
box-shadow: 0 0 0 1px #E6BE1E;
}
.number-box .number-container span {
color: #E6BE1E;
}
.number-box:hover .number-container {
background-color: #E6BE1E;
}
.timeline_item .timeline_node,
.tp-caption.gates-semitransparent-label {
border-color: #E6BE1E;
}
.timeline_item .item_date {
background: #E6BE1E;
}
.timeline_sep span {
background: #E6BE1E;
}
.owl-theme .owl-controls .owl-buttons .owl-next:hover,
.owl-theme .owl-controls .owl-buttons .owl-prev:hover {
color: #E6BE1E;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.gatesable .owl-page:hover span {
background-color: #E6BE1E;
}
.flex-control-paging li a.flex-active {
background: #E6BE1E;
}
#gallery .flex-control-paging li a.flex-active {
background: #E6BE1E;
}
.incontent_content .flex-direction-nav .flex-next:hover {
border-color: #E6BE1E;
background-color: #E6BE1E;
}
.incontent_content .flex-direction-nav .flex-prev:hover {
border-color: #E6BE1E;
background-color: #E6BE1E;
}
.flexgallery .flexslider .flex-next:hover,
.flexgallery .flexslider .flex-prev:hover {
background-color: #E6BE1E;
}
.flexgallery .gallery-post-title {
background-color: rgba(230,190,30,0.75);
}
.eg-portfolio-gallery-style-container {
background-color: #E6BE1E !important;
}
.eg-portfolio-gallery-style-element-0:hover,
.eg-portfolio-gallery-style-element-1:hover {
color: #E6BE1E !important;
}
.gates-light .esg-navigationbutton:hover,
.gates-light .esg-filterbutton:hover,
.gates-light .esg-sortbutton:hover,
.gates-light .esg-sortbutton-order:hover,
.gates-light .esg-cartbutton a:hover,
.gates-light .esg-filterbutton.selected,
.headline.big-centered .deco .left-line,
.headline.big-centered .deco .right-line {
background-color: #E6BE1E !important;
border-color: #E6BE1E !important;
}
.tp-caption a,
.headline.big-centered .deco {
color: #E6BE1E;
}
.gates-woocommerce-breadcrumbs a:active,
.gates-woocommerce-breadcrumbs a:focus,
.gates-woocommerce-breadcrumbs a:hover {
color: #E6BE1E !important;
}
.woocommerce-main-image.zoom .gates-wc-zoom > span > span,
.wc-product-overlay .gates-wc-view > span > span {
background: #E6BE1E;
border: 1px #E6BE1E solid;
}
.woocommerce-main-image.zoom .gates-wc-zoom > span > span:hover,
.wc-product-overlay .gates-wc-view > span > span:hover {
background: #E6BE1E;
border-color: #E6BE1E;
}
p.stock {
color: #E6BE1E;
}
table.group_table td.price span.amount {
color: #E6BE1E;
}
.woocommerce.box ins,
.woocommerce.box span.amount {
color: #E6BE1E;
}
.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
background: #E6BE1E;
}
#payment div.payment_box {
background: #E6BE1E;
}
#payment div.payment_box::after {
border-color: #E6BE1E transparent;
}
#payment ul.payment_methods {
border-bottom: 1px solid #E6BE1E;
}
table.cart a.remove,
#content table.cart a.remove {
background-color: #E6BE1E;
}
.product-subtotal span.amount {
color: #E6BE1E;
}
.cart-collaterals .cart_totals tr.total td,
.cart-collaterals .cart_totals tr.total th {
border-top-color: #E6BE1E;
}
.page-numbers li .current,
.page-numbers a:hover {
background: #E6BE1E;
border: 1px solid #E6BE1E;
}
.widget_price_filter .ui-slider .ui-slider-range {
background: #E6BE1E;
}
.widget_price_filter .ui-slider .ui-slider-handle {
border: 2px solid #E6BE1E;
}
.dp_shopping_cart .dp_shopping_cart_btn span,
.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
background-color: #E6BE1E;
}
.shopping_cart_dropdown span.total span {
color: #E6BE1E;
}
#gates-top-bar .dp_shopping_cart .dp_shopping_cart_btn span {
background-color: #E6BE1E;
}
.product-compare a:hover,
.product-wishlist a:hover {
background-color: #E6BE1E;
}
.yith-woocompare-widget .clear-all:hover {
background-color: #E6BE1E;
}
#yith-ajaxsearchform #yith-searchsubmit:hover {
background-color: #E6BE1E;
}
.eg-blog-grayscale-wrapper:hover .eg-portfolio-grayscale-element-4,
.eg-portfolio-grayscale-wrapper:hover .eg-portfolio-grayscale-element-4 {
border-color: #E6BE1E !important;
}
.accent-color-2 {
color: #32373c;
}
.accent-bg-2 {
background-color: #32373c;
}
.accent-border-2 {
border-color: #32373c;
}
.button_dp.line-dark {
border: 2px solid #32373c;
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled],
button:hover,
input[type=button]:hover,
input[type=submit]:hover,
button:active,
input[type=button]:active,
input[type=submit]:active,
button.disabled,
input[type=button].disabled,
input[type=submit].disabled,
a.gates-button:hover,
a.gates-button:active,
a.gates-button.active,
a.gates-button.disabled,
a.gates-button[disabled] {
background-color: #32373c !important;
}
.btn:active,
.btn.active,
button:active,
a.gates-button:active,
a.gates-button.active
input[type=button]:active,
input[type=submit]:active {
background-color: #32373c;
}
.button_dp:hover {
background-color: #32373c;
border-color: #32373c;
color: #E6BE1E;
}
.button_dp.color:hover {
background-color: #32373c;
border-color: #32373c;
}
.button_dp.dark {
background-color: #32373c;
border-color: #32373c;
}
.button_dp.black:hover,
.button_dp.pink:hover,
.button_dp.teal:hover,
.button_dp.gray:hover,
.button_dp.limon:hover,
.button_dp.burgund:hover,
.button_dp.orange:hover,
.button_dp.purple:hover,
.button_dp.coffee:hover,
.button_dp.blue:hover {
background-color: #32373c;
border-color: #32373c;
}
.button_dp.line-dark span {
color: #32373c;
}
.button:hover {
background: #32373c;
}
body div.pp_default a.pp_next:hover,
body div.pp_default a.pp_previous:hover {
background-color: #32373c !important;
}
span.price {
color: #32373c;
}
.gates-product-desc .separate {
background-color: #32373c;
}
.product-compare a,
.product-wishlist a {
background-color: #32373c;
}
.toggleList:hover,
.toggleGrid:hover,
.toggleList.active,
.toggleGrid.active {
color: #32373c;
}
.yith-woocompare-widget .clear-all {
background-color: #32373c;
}
.wpb_tabs .wpb_tabs_nav .ui-tabs-active a,
.wpb_tabs .wpb_tabs_nav.diamond-navigation li a:hover {
background-color: #E6BE1E !important;
}
.wpb_tabs .wpb_tabs_nav li:hover a {
color: #E6BE1E;
}
.wpb_tour .wpb_tabs_nav li:hover a {
color: #E6BE1E;
}
.wpb_tour .wpb_tabs_nav .ui-tabs-active {
background-color: #E6BE1E !important;
border-color: #E6BE1E !important;
}
.vc-carousel-indicators li {
border: 1px solid #E6BE1E;
background-color: #E6BE1E;
}
.vc-carousel-indicators .vc-active {
border-color: #E6BE1E;
}
.wpb_gallery .flex-control-paging li a.flex-active {
background: #E6BE1E;
}
.theme-default .nivo-controlNav a.active,
.gates-tabs-wrap > ol li.active,
.gates-tabs-wrap > ol li.active:hover {
background-color: #E6BE1E !important;
}
.accented .vc_bar {
background-color: #E6BE1E !important;
}
.gates-breadcrumbs a {
color: #E6BE1E;
}
.gates-breadcrumbs a:hover {
color: #000000;
}
.double-bounce1,
.double-bounce2 {
background-color: #E6BE1E;
}
.headline.medium h3:after,
.headline.big h3:after {
background-color: #E6BE1E;
}
.box ul li:before {
color: #E6BE1E;
}
.testimonials h2,
.bubble.testimonials  h2,
.button_dp.readmore span {
color: #E6BE1E;
}
article section.content .portfolio-tabs li.active a,
article section.content .blog-tabs li.active a,
article section.content .portfolio-tabs li.active a:hover,
article section.content .blog-tabs li.active a:hover {
color: #E6BE1E !important;
}
.team-box.vcard:hover,
.team-box.vcard.highlited,
.summary.link,
.summary.quote,
.summary.status,
.team-box.default .team-box-content {
background-color: #E6BE1E;
}
.featured-box.stroked .stroke-base:before,
.featured-box.stroked .stroke-base:after,
.wpb_tabs .wpb_tabs_nav.diamond-navigation li a:after,
.wpb_tabs .wpb_tabs_nav.diamond-navigation li a:before,
figure .text-overlay .info1 h4:after {
border-color: #E6BE1E;
}
.rounded-border.featured-box .icon-center i {
color: #E6BE1E;
border-color: #E6BE1E;
}
.featured-box:hover > .icon-center i,
.rounded.featured-box:hover .icon-center i {
color: #fff;
border-color: #E6BE1E;
background-color: #E6BE1E;
}
.featured-box.no-border > .icon-center i {
color: #E6BE1E;
}
.featured-box.no-border:hover > .icon-center i {
border-color: transparent;
background-color: transparent;
}
.featured-box.no-border > .icon-lefted-big i,
.rounded.featured-box .icon-center i,
.featured-box.no-border > .icon-top-left i,
.rounded.featured-box .icon-top-left i {
color: #E6BE1E;
}
.rounded-border.featured-box .icon-lefted-big i {
color: #E6BE1E;
border-color: #E6BE1E;
}
.rounded-border.featured-box:hover .icon-lefted-big i,
.rounded.featured-box:hover .icon-center i,
.rounded.featured-box:hover .icon-top-left i,
.rounded.featured-box:hover .icon-lefted-big i,
.rounded.featured-box:hover .icon-righted-big i {
background-color: #E6BE1E;
color: #fff;
}
.featured-box.no-border > .icon-lefted-small i {
color: #E6BE1E;
}
.rounded-border.featured-box .icon-lefted-small i {
color: #E6BE1E;
border: 1px solid #E6BE1E;
}
.rounded-border.featured-box:hover .icon-lefted-small i {
background-color: #E6BE1E;
}
.rounded.featured-box .icon-lefted-small i,
.rounded.featured-box:hover .icon-lefted-big i {
background-color: #E6BE1E;
border-color: #E6BE1E;
}
.featured-box.no-border > .icon-righted-big i {
color: #E6BE1E;
}
.rounded-border.featured-box .icon-righted-big i {
color: #E6BE1E;
}
.rounded-border.featured-box:hover .icon-righted-big i {
background-color: #E6BE1E;
}
.featured-box.no-border > .icon-righted-small i {
color: #E6BE1E;
}
.rounded-border.featured-box .icon-righted-small i {
color: #E6BE1E;
border-color: #E6BE1E;
}
.rounded-border.featured-box:hover .icon-righted-small i {
background-color: #E6BE1E;
}
.rounded.featured-box .icon-righted-small i {
background-color: #E6BE1E;
border-color: #E6BE1E;
}
.menu_metro .sf-menu li.root.menutab1 > .item-container {
background-color: ;
}
.menu_metro .menutab1 .submenu,
.menu_metro .menutab1 .submenu li {
background-color: ;
}
.menu_metro .sf-menu li.root.menutab2 > .item-container {
background-color: ;
}
.menu_metro .menutab2 .submenu,
.menu_metro .menutab2 .submenu li {
background-color: ;
}
.menu_metro .sf-menu li.root.menutab3 > .item-container {
background-color: ;
}
.menu_metro .menutab3 .submenu,
.menu_metro .menutab3 .submenu li {
background-color: ;
}
.menu_metro .sf-menu li.root.menutab4 > .item-container {
background-color: ;
}
.menu_metro .menutab4 .submenu,
.menu_metro .menutab4 .submenu li {
background-color: ;
}
.menu_metro .sf-menu li.root.menutab5 > .item-container {
background-color: ;
}
.menu_metro .menutab5 .submenu,
.menu_metro .menutab5 .submenu li {
background-color: ;
}
.menu_metro .sf-menu li.root.menutab6 > .item-container {
background-color: ;
}
.menu_metro .menutab6 .submenu,
.menu_metro .menutab6 .submenu li {
background-color: ;
}
.menu_metro .sf-menu li.root.menutab7 > .item-container {
background-color: ;
}
.menu_metro .menutab7 .submenu,
.menu_metro .menutab7 .submenu li {
background-color: ;
}
.menu_metro .sf-menu li.root.menutab8 > .item-container {
background-color: ;
}
.menu_metro .menutab8 .submenu,
.menu_metro .menutab8 .submenu li {
background-color: ;
}
.menu_metro .sf-menu li.root.menutab9 > .item-container {
background-color: ;
}
.menu_metro .menutab9 .submenu,
.menu_metro .menutab9 .submenu li {
background-color: ;
}
.menu_metro .gates-button-area {
background-color: #f3b804;
}
.search-overlay {
background-color: #32373C;
}
.search-overlay #searchform  #s,
.search-overlay #searchform input:-moz-placeholder {
color: #ffffff !important;
}
.svg-fill {
fill: #E6BE1E;
}
article section.content ul.tribe-events-sub-nav a,
article section.content .tribe-events-back a,
article section.content .tribe-events-list-widget .tribe-events-widget-link a,
article section.content .tribe-events-adv-list-widget .tribe-events-widget-link a {
color: #B2BABC !important;
}
article section.content ul.tribe-events-sub-nav a:hover,
article section.content .tribe-events-back a:hover,
article section.content .tribe-events-list-widget article section.content .tribe-events-widget-link a:hover,
article section.content .tribe-events-adv-list-widget .tribe-events-widget-link a:hover {
color: #ffffff !important;
}
.woocommerce-page .button {
background-color: #E6BE1E;
border-color: #E6BE1E;
}
ul.products li.product .price {
color: #E6BE1E;
}
.select:hover .arrow,
div.product .woocommerce-tabs ul.tabs li.active a,
#content div.product .woocommerce-tabs ul.tabs li.active a {
background-color: #E6BE1E;
border-color: #E6BE1E;
}
.gates-page-wrap .gates-recent-post-widget a,
.gates-page-wrap .widget_dp_comments a,
.gates-page-wrap .gates-nsp-header a,
.tribe-event-title a {
color: #555555 !important;
}
.gates-recent-post-widget a:hover,
.widget_dp_comments a:hover,
.gates-nsp-header a:hover,
.tribe-event-title a:hover {
color: #E6BE1E !important;
}
.team-box.vcard .social-bar li a:hover:before {
color: #E6BE1E !important;
}
#gates-mainbody header h2 a:hover,
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header a:hover,
.toggle.faq .toggle_title:hover {
color: #E6BE1E;
}
.gates-teaser .post-title a {
color: #32373c;
}
.gates-teaser .post-title a:hover {
color: #E6BE1E;
}
.post-big-date,
.featured-box-2.top-left .inner,
.dp-headline.big h3:after,
.dp-headline.medium h3:after {
background-color: #E6BE1E;
}
.post-big-date:after {
border-color: #E6BE1E;
}
.rounded.featured-box-2 .icon-top-left i {
color: #E6BE1E;
}
.hover-marker:before,
.hover-marker:after {
border-color: #E6BE1E !important;
background-color: #E6BE1E !important;
}
.tparrows.gates-1:hover,
.tparrows.gates-1-light:hover {
background-color: #E6BE1E !important;
}
.tp-bullets.gates-1 .tp-bullet.selected,
.tp-bullets.gates-1 .tp-bullet:hover,
.tp-bullets.gates-1-light .tp-bullet.selected,
.tp-bullets.gates-1-light .tp-bullet:hover,
.tp-bullets.gates-with-tips .tp-bullet.selected,
.tp-bullets.gates-with-tips .tp-bullet:hover,
.tp-bullet .hover-marker,
.owl-theme .owl-controls .owl-buttons .owl-next:hover,
.owl-theme .owl-controls .owl-buttons .owl-prev:hover,
.gates-with-tips.nav-dir-vertical .tp-bullet-image {
background-color: #E6BE1E !important;
}
.wpb_gallery .flex-direction-nav .flex-next:hover,
.wpb_gallery .flex-direction-nav .flex-prev:hover,
#gallery .flex-direction-nav .flex-next:hover,
#gallery .flex-direction-nav .flex-prev:hover,
.product-thumb-link {
background-color: #E6BE1E;
}
.wpb_gallery .flex-direction-nav .flex-next:after,
#gallery .flex-direction-nav .flex-next:after,
.wpb_gallery .flex-direction-nav .flex-prev:after,
#gallery .flex-direction-nav .flex-prev:after,
.owl-theme  .owl-controls .owl-prev:after,
.owl-carousel .owl-controls .owl-next:after,
.owl-theme .owl-controls .owl-page.active span:after,
.owl-theme .owl-controls.gatesable .owl-page:hover span:after,
blockquote {
border-color: #E6BE1E;
}
.minimal.testimonials h2,
.recent-post-widget .recent-format-icon:hover:before {
color: #E6BE1E;
}
.team-box.default .social-bar li a:hover:before,
.team-box.image .social-bar li a:hover:before,
.gates-breadcrumbs a {
color: #E6BE1E !important;
}
.product-thumb-link:hover a {
color: #E6BE1E !important;
}
.owl-theme  .owl-controls .owl-prev:after,
.owl-carousel .owl-controls .owl-next:after {
border-color: #E6BE1E !important;
}
.social-bar.mono li a:hover {
background-color: #E6BE1E !important;
}
.tp-caption.ClickDefault-Btn {
background-color: #E6BE1E;
}
.tp-caption.ClickDefault-Btn:hover {
color: #E6BE1E !important;
}
.gates-teaser-2.usehighlight:hover {
background-color: #E6BE1E;
}
.semi-gray-bordered {
border-color: #E6BE1E !important;
}
.tparrows.gates:hover,
.tp-bullets.gates .tp-bullet:hover,
.tp-bullets.gates .tp-bullet.selected {
background-color: #E6BE1E !important;
}
.subheader-title-holder .triangle:after {
border-left-color: #E6BE1E;
}
.gates-subheader,
.subheader-title-holder:before {
background-color: #E6BE1E;
}
.vc_wp_custommenu .menu li:hover,
.vc_wp_custommenu .menu .current-menu-item,
.map-bg:before {
background: #E6BE1E;
}
.vc_wp_custommenu .menu li:before {
color: #E6BE1E;
}
.portfolio-tabs li.active a,
.blog-tabs li.active a,
.portfolio-tabs li:hover a,
.blog-tabs li:hover a {
color: #E6BE1E !important;
border-bottom: 2px solid #E6BE1E;
}
.portfolio-tabs li.active:hover a,
.blog-tabs li.active:hover a {
color: #E6BE1E !important;
}